OLLAMA_API_KEY=<your_ollama_api_key>
OLLAMA_ENDPOINT=https://ollama.com/api/chat

OPENROUTER_API_KEY=<your_openrouter_api_key>
OPENROUTER_ENDPOINT=https://openrouter.ai/api/v1/chat/completions

# Ollama LLM Models
OLLAMA_LLM_01=gpt-oss:120b
OLLAMA_LLM_02=ministral-3:8b
OLLAMA_LLM_03=mistral-large-3:675b-cloud
OLLAMA_LLM_04=gemma3:4b-cloud

# Openrouter LLM Models
OPENROUTER_LLM_01=google/gemini-2.0-flash-001
OPENROUTER_LLM_02=google/gemma-2-9b-it
OPENROUTER_LLM_03=mistralai/mistral-small
OPENROUTER_LLM_04=gpt-4o-mini
